body {
    margin: 0;
    padding: 0;
}

.busca2 {
    width: 78.5%; 
    height: 100vh;
}

.imgTextura2 {
    background-image: url('../../assets/images/fundoBusca.svg');
    width: 100%;
    height: 100%;

}

.areaTextura2{
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.areaMiniaturas2{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-top: 20px
}

.iconeLupaPerfil {
    width: 22px;
    position: absolute;
    top: 4%;
    left: 413px; 
}