.container-image {
    background-color: #8D0000;
    min-height: 100vh;
    align-items: center;
}

.container-form {
    background-color: #ffffff;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.imgLogo {
    width: 30%;
    height: 30%;
}

.imgChefe {
    width: 100%;
    height: 80%;
}

.buttonAvancar {
    background-color: #8D0000;
    border: none;
    border-radius: 40px;
    color: white;
}

.passos {
    height: 20%;
}

.passoAtual {
    border-bottom: 4px solid #8D0000;
}

.passosFaltantes {
    color: gray;
}