.container-image {
    background-color: #8D0000;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
}

.container-form {
    background-color: #ffffff;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-header {
    gap: 2.5rem;
}

.form-content {
    gap: 3rem;
}

.form-text-info {
    border-bottom: 2px solid #8080806b;
}

.input-form {
    border-radius: 0px;
    border: 1px solid #00000091;
}

.imgLogo {
    width: calc(200px + 20%);
    height: 30%;
}

.imgChefe {
    width: 100%;
    height: 80%;
}

.buttonAvancar {
    background-color: #8D0000;
    border: none;
    border-radius: 40px;
    color: #ffffff;
}

.buttonAvancar:hover {
    background-color: #a73434;
}

.buttonAvancar:disabled {
    background-color: #8D0000;
}

.steps h1 {

    font-size: 56px;
}

.passoAtual {
    border-bottom: 4px solid #8D0000;
}

.passosFaltantes {
    color: gray;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.card {
    width: min(230px, 90vw);
    height: 210px;
    background: #ffffff94;
    box-shadow: -4px 4px 20px rgba(24, 23, 23, 0.25);
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    outline: 0ch;
    border: 0ch;
    padding: 1rem;
    border-bottom: 1vh solid transparent ;
    border-radius: 20px;
}

.card-header{
    background: #ffffff94;
}

.active:active{
    background-color: #8D0000;
    
}